<!-- /snippets/newsletter-subscribe.liquid -->
{% assign form_id = 'newsletter-' | append: subscribe_source %}
{% form 'customer', id: form_id %}
  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
    <p style="color:#F6B700">{{ 'password.general.thanks_title' | t }}</p>

    {% assign discount_code = settings.newsletter_discount_code %}
    {% assign redirect_link = settings.newsletter_redirect_link %}
    {%- if discount_code != blank -%}
      {% assign code = discount_code | url_encode %}
      {% assign discount_url = '/discount/' | append: code %}

      {%- if redirect_link != blank -%}
        {% assign discount_url = discount_url | append: '?redirect=' | append: redirect_link %}
      {%- endif -%}
      {% assign discount_url = discount_url | append: '#' | append: code %}

      <script>
      window.location = '{{ discount_url }}';
      </script>
    {%- else -%}

      {%- if redirect_link != blank -%}
      <script>
      window.location = '{{ redirect_link }}';
      </script>
      {%- endif -%}
      
    {%- endif -%}

  {% else %}
    <input type="hidden" name="contact[tags]" value="prospect, newsletter, email subscribe{% if subscribe_source %}, {{ subscribe_source }}{% endif %}">
    <div class="input-row">
      <div class="input-wrapper">
        <input type="email" name="contact[email]" id="email" placeholder="{{ 'general.newsletter_form.newsletter_email' | t }}" class="input-group-field" required>
      </div>
      <label class="footer_newsletter_user_input">
      </label>
      <button type="submit" style="background-color: transparent; position: absolute; bottom: 0px; right: 0px;">
        <svg viewBox="0 0 14 10" fill="none" aria-hidden="true" focusable="false" role="presentation" class="icon icon-arrow" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M8.537.808a.5.5 0 01.817-.162l4 4a.5.5 0 010 .708l-4 4a.5.5 0 11-.708-.708L11.793 5.5H1a.5.5 0 010-1h10.793L8.646 1.354a.5.5 0 01-.109-.546z" fill="currentColor">
        </path></svg>
      </button>
      <!-- <button type="submit" id="subscribe" class="signup">sign up</button> -->


<!--       <a class="signup" href="/" type="submit" id="subscribe"> sign up </a> -->
      
<!--       <button class="arrowbutton" type="submit" id="subscribe">
            {%- assign arrow_icon = 'icon-arrow-newsletter.liquid' -%}
            <span class="icon-arrow" aria-hidden="true">{% include arrow_icon %}</span>
      </button>
 -->
      
      {% comment %}
      <div class="button-wrapper">
        <button type="submit" id="subscribe" class="btn">{{ 'general.newsletter_form.go' | t }}</button>
      </div>
      {% endcomment %}
    </div>
  {% endif %}
{% endform %}