{% if threeD %}
  {% if button_link != blank and button_label != blank %}
    <div class="hapny_button_container" id={{id}}>
      <a href="{{ button_link }}">
        <div class="hapny_below"> 
          {{ button_label | escape }}
        </div>
        <div class="hapny_middle"> 
          {{ button_label | escape }}
        </div>
        <div class="hapny_button">
          {{ button_label | escape }}
        </div>
      </a>
    </div>
    <style>
      .hapny_button_container {
        position: relative;
        display: inline-block;
      }
      #{{id}} .hapny_below, #{{id}} .hapny_middle {
        text-align: center;
        margin: 8px 0 0;
        font-size: 16px;
        padding: 14px 18px;
        font-weight: 700;
        border-radius: 3px;
        border-color: rgba(0, 0, 0, 0);
        border-width: 1px;
        text-decoration: none;      
        background-color: {{ bottom_background_color }};
        color: {{ bottom_background_color }};
        position: absolute;
        width: 100%;
      }
      .hapny_middle {
       transform: translate3d(0px, 0px, 0px); 
      }
      #{{id}}:hover .hapny_middle {
        background-color: {{ middle_background_color }};
        transform: translate3d(6px, -6px, 0px);
        transition: transform 0.5s linear;
        position: absolute
      }
      #{{id}} .hapny_button {
        transform: translate3d(6px, -6px, 0px);
        transition: all 0.5s linear;
        background-color: {{ top_background_color }};
        position: relative;
        width: 100%;
        text-decoration: none;
      }
      #{{id}}:hover .hapny_button {
        transform: translate3d(12px, -12px, 0px);
        transition: all 0.5s linear;
      }
      .hapny_button_container:hover a, .hapny_button_container a:hover, .hapny_button_container a {
       text-decoration: none;
        color: white;
      }
    </style>
  {% endif %}
{% else %}
  {% if button_link != blank and button_label != blank %}
    <a class="hapny_button" href="{{ button_link }}">
      {{ button_label | escape }}
    </a>
  {% endif %}
  <div> end </div>
{% endif %}

