<section class="password" data-section-id="{{ section.id }}" data-section-type="password-template">
  <div class="password-contain">

    
    <main class="main-content-password" role="main">
      <div class="contain">
        <div class="coming-soon">
          {% if section.settings.title %}
            <h2 style="font-size: {{ section.settings.header_font_size }}; font-weight: {{ section.settings.header_font_weight }};">{{ section.settings.title | escape }}</h2>
          {% endif %}
          {% unless shop.password_message == blank %}
            {{ shop.password_message }}
          {% endunless %}
          
        </div>
        
        {% if section.settings.newsletter_subheading != blank %}
        <div class="rte">{{ section.settings.newsletter_subheading }}</div>
        {% endif %}

        {% if section.settings.show_social_share %}
          <div class="share">
            {% if section.settings.social_share_title %}
              <p>{{ section.settings.social_share_title | escape }}</p>
            {% endif %}
            {% include 'social-share' %}
          </div>
        {% endif %}
        
        <section class="newsletter-section">
         {% if section.settings.show_newsletter %}
            <div class="subscribe">
              {% form 'customer' %}

                {{ form.errors | default_errors }}

                {% if form.posted_successfully? %}
                  <p style="color:{{section.settings.email_confirm_color}};font-weight:700">{{ section.settings.email_confirm_message }}</p>
                {% else %}

                  <input type="hidden" name="contact[tags]" value="prospect, password page">
                  <div class="input-row">
                    <div class="turnpup-input-wrapper" id="password-input">
                      <input type="email" name="contact[email]" id="email" placeholder="{{ 'password.form.your_email' | t}}" class="input-group-field" >
                    </div>
                    <div class="turnpup-button-wrapper">
                      <input type="submit" value="{{ 'password.form.submit' | t }}" class="password_button">
                    </div>
                  </div>
                {% endif %}

              {% endform %}
            </div>
          {% endif %}
        </section>
        
        <div style="width: 80%; margin: 20px auto 0px;">
          {% include 'social-icons' %}
        </div>
        
      </div>
    </main>
   
    <div class="left-side">
      {% assign image = section.settings.background_image %}
      {% assign image_widths = '400,600,800,1000,1200' %}
      {% include 'theme-rias' %}
      <img class="slide__image slide__image-mobile lazyload"
        src="{{ image | img_url: '1200x' }}"
        data-preload="{{ image | img_url: '1200x' }}"
        data-src="{{ image_url_pattern }}"
        data-widths="[{{ image_widths }}]"
        data-aspectratio="{{ image.aspect_ratio }}"
        data-sizes="auto"
        alt="{{ image.alt | escape }}">
    </div>

  </div>
  
  {% comment %}
  
      <header class="site-header" role="banner" style="border-bottom: 0px">
      <div class="wrapper">
        <div class="logo-nav-contain layout-vertical">
          <div class="logo-contain">

            <h1 class="{% if section.settings.logo %}tp-has-image{% endif %}" itemscope itemtype="http://schema.org/Organization">
              {% if section.settings.logo %}
                <a href="{{ routes.root_url }}" itemprop="url" class="logo-image">
                    {% assign image = section.settings.logo %}
                    {% assign image_default_width = section.settings.logo_max_width | append: 'x' %}
                    {% assign image_retina_width = image_default_width | times: 2 %}
                    <img src="{{ image | img_url: image_default_width }}"
                      srcset="{{ image | img_url: image_default_width }} 1x
                              {% if image.width >= image_retina_width %},{{ image | img_url: image_default_width, scale: 2 }} 2x{% endif %}"
                      alt="{{ image.alt | escape | default: shop.name }}">
                </a>
              {% else %}
                <a href="{{ routes.root_url }}" itemprop="url">{{ shop.name }}</a>
              {% endif %}
            </h1>

          </div>
        </div>
      </div>
    </header>
  {% endcomment %}
    
    <section class="site-login">
      <a href="#LoginModal" class="button simple login-popup" data-mfp-src="#LoginModal">{{ 'password.general.enter_store_button' | t }}</a>
      <div id="LoginModal" class="mfp-hide white-popup">
<!--         <button id="tp-custom-close" onclick="closePopup();">x</button> -->
        <button title="Close (Esc)" type="button" class="mfp-close" id="tp-mfp-close">×</button>
        {% form 'storefront_password' %}

        {{ form.errors | default_errors }}

        <h3>{{ 'password.general.enter_store_title' | t }}</h3>
        <input type="hidden" name="contact[tags]" value="prospect, password page">
        <div class="input-row">
          <div class="input-wrapper">
            <input type="password" name="password" placeholder="{{ 'password.form.your_password' | t }}" class="input-group-field" >
          </div>
          <div class="button-wrapper">
            <input type="submit" value="{{ 'password.form.enter' | t }}" class="btn">
          </div>
        </div>

        {% endform %}
        <p>{{ 'password.general.store_owner_html' | t }}</p>
      </div>
    </section>
  

  
</section>
{%- assign accent_brightness = section.settings.color_accent | color_brightness | plus: 0 -%}
{% if accent_brightness > 153 %}
  {%- assign text_on_accent = '#000000' -%}
{% else %}
  {%- assign text_on_accent = '#ffffff' -%}
{% endif %}
{%- assign color_hover = section.settings.color_accent | color_darken: 15 -%}
<style media="screen">
  .password {
   overflow-y: hidden;
   height: 100%;
  }
  .password-contain {
    display: flex;
    flex-direction: row;
    align-items: middle;
  }
  .contain {
    margin: 0 auto;
    background-color: white;
  }
  .input-group-field textarea {
    color: red;
  }
  .coming-soon {
    text-align: left; 
    width: 80%;
    padding: 20px 0px 4px 0px;
    margin: 0 auto;
    font-family:{{section.settings.header_font}};
  }
  .rte {
	text-align: left;
    width: 80%;
    padding: 0px 0px 0px 0px;
    margin: 0 auto;
  }
/*   .coming-soon {
    text-align: left; 
    width: 40%;
    padding: 0px 0px 0px 30px;
  }
  .rte {
	text-align: left;
    width: 60%;
    padding: 0px 30px 0px 20px;    
  } */
  html.template-password {
   text-align: left; 
  }
  html.template-password form {
   max-width: 900px; 
  }
  .site-header {
    display: block;
    width: 50%;
    height: 100%;
    display: inline-block;
  }
  .main-content-password {
    background-color: white;
    width: 50%;   
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
  .newsletter-section {
    background-color: white; 
    width: 80%;
    margin: 0 auto;
  }
  header.site-header:hover {
   	background-color: transparent; 
  }
  h1.tp-has-image {
    position: fixed;
    top: 10px;
    left: 10px;
    padding: 0px;
    width: 150px;
  }
  #password-input {
    width: 60%; 
    padding-left: 0px;
  }
html {
  
}
.left-side {
  height: 100%;
  width: 50%;
}
.left-side img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
body {
  color: {{ section.settings.color_text }};
  background-color: transparent;
}
h1,h2,h3,h4,h5,h6 {
  color: {{ section.settings.color_title }};
}
a {
  color: {{ section.settings.color_accent }};
}
a:hover {
  color: {{ color_hover }};
}
h1.site-logo a {
  color: {{ section.settings.color_title }};
}
h1.site-logo a:hover {
  color: {{ section.settings.color_accent }};
}
{%- if section.settings.logo -%}
  {%- assign image = section.settings.logo -%}
  {%- assign padding = 1 | divided_by: image.aspect_ratio | times: 100 | append: '%' -%}
  header.site-header h1.site-logo.tp-has-image a:before,
  header.site-header .site-logo.tp-has-image.h1 a:before,
  header.site-header div.tp-has-image.site-logo a:before {
    padding-bottom: {{ padding }};
  }
  .site-logo.tp-has-image {
    max-width: {{ section.settings.logo_max_width }}px;
  }
{%- endif -%}
input:focus,
button:focus {
  border-color: {{ section.settings.color_accent }};
}
input {
  border-color: {{ section.settings.color_text }};
  border-color: {{ section.settings.color_text | hext_to_rgba: 0.4 }};
  color: {{ section.settings.color_text }};
}
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px {{ section.settings.color_background }} inset;
  -webkit-text-fill-color: {{ section.settings.color_text }} !important;
  border-color: {{ section.settings.color_accent }};
}
input::-webkit-input-placeholder {
  color: black !important;
}
input:-ms-input-placeholder {
  color: black !important;
}
input::-moz-placeholder {
  color: black !important;
}
input:-moz-placeholder {
  color: black !important;
}
button,
input.btn {
  background-color: {{ section.settings.color_accent }};
  color: {{ text_on_accent }};
}
button:hover,
input.btn:hover,
button:focus,
input.btn:focus {
  background-color: {{ color_hover }};
}
section.site-login > a.button.simple {
  color: {{ section.settings.color_text }};
}
section.site-login > a.button.simple:hover {
  color: {{ section.settings.color_accent }};
}
.errors {
  color: {{ section.settings.color_accent }};
}
button.mfp-close {
  color: {{ section.settings.color_text }};
}
button.mfp-close:hover {
  color: {{ section.settings.color_accent }};
}
.white-popup {
  background: {{ section.settings.color_background }};
}
@media only screen and (max-width: 800px) {
  .password-contain {
    display: block;
  }
  .site-header {
    height: 0%;
  }
  .contain {
    flex-direction: column;
    background-color: transparent;
  }
  .main-content-password {
    background-color: rgba(255,255,255,0.95);
    height: 100%;
    width: 100%;
  }
  .newsletter-section {
    height: 15%;
    background-color: white;
  }
  .coming-soon {
    text-align: left; 
    width: 80%;
    padding: 20px 0px 0px 0px;
    
  }
  .rte {
	text-align: left;
    width: 80%;
    padding: 0px 0px 0px 0px;    
  }
  html.template-password main.main-content h2 {
    font-size: 20px;
  }
  .rte p {
    font-size: 16px;
    color: black;
  }
  html {
    background-color: {{ section.settings.color_background }};
    {% if section.settings.mobile_background_image %}
      background: url({{ section.settings.mobile_background_image | img_url: '2000x2000' }}) no-repeat center bottom 60px fixed;
    {% endif %}
    background-size: cover;
  }
  .left-side {
    width: 0%;
    height: 0%;
  }
  #tp-custom-close {
    background-color: transparent;
    font-size: 40px;
    opacity: 1;
    margin: 0;
    padding: 0;
    top: 0.9375em;
    right: 0.9375em;
  }
}
</style>
<script type="text/javascript">
  function closePopup() {
    $.magnificPopup.close();
  }
</script>
{% schema %}
{
  "name": "Password page",
  "class": "password-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Logo image"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 100,
      "max": 1180,
      "step": 20,
      "unit": "px",
      "label": "Logo maximum width",
      "default": 280
    },
    {
      "type": "header",
      "content": "Content"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Coming Soon"
    },
    {
      "type": "text",
      "id": "header_font",
      "label": "Header Font",
      "default": "'p22-mackinac-pro', serif"
    },
    {
      "type": "text",
      "id": "header_font_size",
      "label": "Header Font Size",
      "default": "36px"
    },
    {
      "type": "text",
      "id": "header_font_weight",
      "label": "Header Font Weight",
      "default": "800"
    },
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "type": "checkbox",
      "id": "show_newsletter",
      "label": "Show newsletter form",
      "default": true
    },
    {
      "type": "richtext",
      "id": "newsletter_subheading",
      "label": "Subheading",
      "default": "<p>Subscribe to be the first to hear about our exclusive offers and latest arrivals.</p>"
    },
    {
      "type": "header",
      "content": "Social"
    },
    {
      "type": "checkbox",
      "id": "show_social_share",
      "label": "Show social share buttons",
      "default": true
    },
    {
      "type": "text",
      "id": "social_share_title",
      "label": "Social share buttons heading",
      "default": "Share the news"
    },
    {
      "type": "header",
      "content": "Colors"
    },
    {
      "type": "color",
      "id": "color_text",
      "label": "Text",
      "default": "#4f4f4f"
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Title",
      "default": "#000000"
    },
    {
      "type": "color",
      "id": "color_background",
      "label": "Background",
      "default": "#ffffff"
    },
    {
      "type": "color",
      "id": "color_accent",
      "label": "Accent",
      "default": "#008080"
    },
    {
      "type": "text",
      "id": "email_confirm_message",
      "label": "Email Confirmation Message",
      "default": "hi hi, thanks for your memail."
    },
    {
      "type": "color",
      "id": "email_confirm_color",
      "label": "Email Confirmation Message Color",
      "default": "#F6B700"
    },
    {
      "type": "image_picker",
      "id": "background_image",
      "label": "Background image",
      "info": "1500 x 1100px .jpg recommended"
    },
    {
      "type": "image_picker",
      "id": "mobile_background_image",
      "label": "Mobile Background image",
      "info": "1500 x 1100px .jpg recommended"
    }
  ]
}
{% endschema %}
