{% assign zero_products = true %}

<div class="simple-collection similar-products-pdp module layout-{{ section.settings.product_count_range }}" data-section-id="{{ section.id }}" data-section-type="simple-collection-section">
  <div class="wrapper" style="margin: {{ section.settings.padding }};max-width: 90%;">
    <header{% if section.settings.center_heading %} class="centered"{% endif %} style="margin: 20px 0 30px;">
      {% if section.settings.title != blank %}
        <h4 class="pdp_product_carousel_title">{{ section.settings.title | escape }}</h4>
      {% endif %}
      {% if section.settings.button_link != blank and section.settings.button_label != blank %}
        <a href="{{ section.settings.button_link }}" class="button outline">{{ section.settings.button_label | escape }}</a>
      {% endif %}
    </header>
    <div class="product-container">
        {% assign similar_collections = product.collections %}
        {% for collect in similar_collections %}            
          {% if collect.title == product.metafields.pdp.similarCollection.value %}
            {% for p in collect.products %}
              {% unless p.id  == product.id %}
                {% include 'pdp-carousel-item' %}
                {% assign zero_products = false %}
                <option value="{{ p.url | within: collection }}">{{ p.title }}</option> 
              {% endunless %}
            {% endfor %} 
          {% elsif collect.title != "Appliance Pulls" and collect.title != "Cabinet Pulls" and collect.title != "Cabinet Knobs" and collect.title != "All Products" and collect.title != "Our Favorites"%}
            {% for p in collect.products %}
              {% unless p.id  == product.id %}
                {% include 'pdp-carousel-item' %}
                {% assign zero_products = false %}
                 <option value="{{ p.url | within: collection }}">{{ p.title }}</option> 
              {% endunless %}
            {% endfor %} 
          {% endif %}
        {% endfor %}     
    </div>
  </div>
</div>

{% if zero_products %}
<style>
  .pdp-products-in-section {
    display: none;
    border-top: none;
  }
</style>
{% endif %}
<script>
 {% for collect in similar_collections %}
    console.log( {{ collect | json }} );
  {% endfor %}
  console.log( " product ===> " + {{ product | json }} );
  console.log("{{product.metafields.pdp.similarCollection.value}}");
</script>



<style>
  .similar-products-pdp .product-container {
    display: flex;
    justify-content: center;
  }
  .pdp_product_carousel_title {
    font-size: {{ section.settings.header_font_size }};
  }
  .pdp-products-in-section {
    border-top: 1px solid {{ section.settings.top_border_color }};
  }
  @media only screen and (max-width: 700px) {
    .similar-products-pdp .product-container {
      flex-wrap: wrap;
      justify-content: space-between;
      margin: 0px;
      padding: 0px;
      width: 100%
    }
    .similar-products-pdp .product-container .box {
      flex-basis: 45%;
      margin: 0px 0px 30px;
      padding: 0px;
    }
    .simple-collection .product-container > * {
     margin: 0px; padding: 0px; 
    }
  }
</style>
{% schema %}
{
  "name": "PDP Other Products",
  "class": "pdp-products-in-section",
  "settings": [
    {
      "type": "color",
      "id": "top_border_color",
      "label": "Top Border Color",
      "default": "#f4b237"
    },    
    {
      "type": "text",
      "id": "margin",
      "label": "margin",
      "info": "0px 0px 0px 0px",
      "default": "0px auto 20px"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Header Text",
      "default": "Featured collection"
    },
    {
      "type": "text",
      "id": "header_font_size",
      "label": "Header Font Size",
      "default": "1.8em"
    },
    {
      "type": "checkbox",
      "id": "center_heading",
      "label": "Center heading",
      "default": false
    },
    {
      "type": "text",
      "id": "button_label",
      "label": "Button label"
    },
    {
      "type": "url",
      "id": "button_link",
      "label": "Button link"
    },
    {
      "id": "collection",
      "type": "collection",
      "label": "Collection"
    },    
    {
      "type": "header",
      "content": "Image Settings",
      "info": "."
    },
    {
      "type": "range",
      "id": "product_count_range",
      "label": "Number of products",
      "min": 4,
      "max": 20,
      "step": 4,
      "default": 4
    }
  ],
  "presets": [
    {
      "name": "PDP Other Products",
      "category": "PDP"
    }
  ]
}
{% endschema %}


<script>
  
  console.log( "debug: " + "{{similar_collections}}" );

  var turnpupProductVariable = {{ product | json }};
  var turnpupCollectionVariable = {{ product.collections | json }};
              
</script>
